// Cores base para os alertas
$color-success-bg: #d4edda;
$color-success-border: #c3e6cb;
$color-success-text: #155724;

$color-warning-bg: #fff3cd;
$color-warning-border: #ffeeba;
$color-warning-text: #856404;

$color-error-bg: #f8d7da;
$color-error-border: #f5c6cb;
$color-error-text: #721c24;

// Estilos base comuns para todos os alertas
$alert-padding: 15px 20px;
$alert-margin-bottom: 20px;
$alert-font-size: 1em;
$alert-border-radius: 5px;
$alert-line-height: 1.5;
