.services-section {
	display: flex;
	padding: $spacing-12 $spacing-4;
	min-height: $min-h-screen;
	flex-direction: column;
	align-items: center;
	gap: $spacing-8;
	justify-content: center;
	text-align: center;
}
