// Mixin para criar um painel com temas
@mixin panel-theme($bg-color, $text-color, $border-color) {
	background-color: $bg-color;
	color: $text-color;
	border: 1px solid $border-color;
	padding: $default-padding * 2;
	border-radius: $default-border-radius;
	box-shadow: $box-shadow;

	h3 {
		color: $text-color; // Garante que o título use a cor do tema
		margin-bottom: 10px;
	}

	p {
		line-height: 1.6;
	}
}
