.projects-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: $spacing-4;
	max-width: $max-w-4xl;

	.projects-title {
		font-size: $font-size-5xl;
		font-weight: $font-weight-medium;
		color: $text-color-projects-title;
	}

	.projects-description {
		line-height: 1.625;
		text-wrap: pretty;
		color: $text-color-projects-description;
		font-size: $font-size-lg;
		text-align: center;
	}
}

.projects-grid {
	width: 100%;
	padding: $spacing-4;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: $spacing-4;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

.project-card {
	display: flex;
	flex-direction: column;
	background-color: $background-color-project-card;
	gap: $spacing-4;
	overflow: hidden;
	border-radius: $rounded-lg;
	box-shadow: $shadow-md;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-5px);
	}

	.project-image-wrapper {
		width: 100%;
		height: 350px;
		overflow: hidden;
		border-radius: $rounded-lg $rounded-lg 0 0;

		.project-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.project-info {
		display: flex;
		padding: $spacing-2 $spacing-4 $spacing-4;
		flex-direction: column;
		gap: $spacing-2;
		align-items: flex-start;
		text-align: left;

		.project-name {
			font-size: $font-size-lg;
			font-weight: $font-weight-medium;
			color: $text-color-project-name;
		}

		.project-description-card {
			line-height: 1.625;
			font-weight: $font-weight-normal;
			text-wrap: pretty;
			color: $text-color-project-description-card;
			font-size: $font-size-base;
		}
	}
}
