// Contact Header
$text-color-contact-title: $color-gray-900;
$text-color-contact-description: $color-gray-600;

// Contact Info Block
$text-color-info-block-title: $color-gray-900;
$text-color-contact-item: $color-gray-700;
$text-color-contact-icon: $color-gray-600;
$text-color-instagram-block-title: $color-gray-900;
$background-color-instagram-placeholder: $color-gray-200;

// Contact Form Block
$form-label-color: $color-gray-700;
$form-input-border-color: $color-gray-300;
$form-input-focus-border-color: $color-gray-600;
$form-input-placeholder-color: $color-gray-400;
$form-button-background: $color-gray-900;
$form-button-text-color: $color-white;
$form-required-color: $color-red-500;
