// Hero Section
$background-color-hero-overlay: rgba($color-black, 0.7);
$text-color-hero-title: $color-gray-100;
$text-color-hero-subtitle: $color-gray-200;
$text-color-hero-description: $color-gray-200;
$text-color-button: $color-black;

// About Section
$text-color-about-title: $color-gray-900;
$text-color-about-item-title: $color-gray-700;
$text-color-about-item-description: $color-gray-600;
