// Projects Header
$text-color-projects-title: $color-gray-900;
$text-color-projects-description: $color-gray-600;

// Project Card
$background-color-project-card: $color-gray-100;
$text-color-project-name: $color-black;
$text-color-project-description-card: $color-gray-600;
